--
-- PostgreSQL database dump
--

\restrict wIXKvTZ9d8TBckNzHk5AbhyiP9gWCkrhESM7SvkL3d4iZ31fMDigBrjg1qrhfkW

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.vacunas DROP CONSTRAINT IF EXISTS fk_vacunas_veterinario;
ALTER TABLE IF EXISTS ONLY public.vacunas DROP CONSTRAINT IF EXISTS fk_vacunas_mascota;
ALTER TABLE IF EXISTS ONLY public.mascotas DROP CONSTRAINT IF EXISTS fk_mascotas_duenio;
ALTER TABLE IF EXISTS ONLY public.consultas DROP CONSTRAINT IF EXISTS fk_consultas_veterinario;
ALTER TABLE IF EXISTS ONLY public.consultas DROP CONSTRAINT IF EXISTS fk_consultas_mascota;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS fk_citas_veterinario;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS fk_citas_mascota;
DROP TRIGGER IF EXISTS trg_vacunas_actualizado_en ON public.vacunas;
DROP TRIGGER IF EXISTS trg_usuarios_actualizado_en ON public.usuarios;
DROP TRIGGER IF EXISTS trg_mascotas_actualizado_en ON public.mascotas;
DROP TRIGGER IF EXISTS trg_citas_actualizado_en ON public.citas;
DROP INDEX IF EXISTS public.idx_vacunas_veterinario;
DROP INDEX IF EXISTS public.idx_vacunas_mascota;
DROP INDEX IF EXISTS public.idx_vacunas_activo;
DROP INDEX IF EXISTS public.idx_usuarios_email;
DROP INDEX IF EXISTS public.idx_mascotas_duenio;
DROP INDEX IF EXISTS public.idx_mascotas_activo;
DROP INDEX IF EXISTS public.idx_consultas_veterinario;
DROP INDEX IF EXISTS public.idx_consultas_mascota;
DROP INDEX IF EXISTS public.idx_citas_veterinario;
DROP INDEX IF EXISTS public.idx_citas_mascota;
DROP INDEX IF EXISTS public.idx_citas_activo;
DROP INDEX IF EXISTS public.flyway_schema_history_s_idx;
ALTER TABLE IF EXISTS ONLY public.vacunas DROP CONSTRAINT IF EXISTS vacunas_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_pkey;
ALTER TABLE IF EXISTS ONLY public.mascotas DROP CONSTRAINT IF EXISTS mascotas_pkey;
ALTER TABLE IF EXISTS ONLY public.flyway_schema_history DROP CONSTRAINT IF EXISTS flyway_schema_history_pk;
ALTER TABLE IF EXISTS ONLY public.consultas DROP CONSTRAINT IF EXISTS consultas_pkey;
ALTER TABLE IF EXISTS ONLY public.citas DROP CONSTRAINT IF EXISTS citas_pkey;
ALTER TABLE IF EXISTS public.vacunas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.usuarios ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mascotas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.consultas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.citas ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.vacunas_id_seq;
DROP TABLE IF EXISTS public.vacunas;
DROP SEQUENCE IF EXISTS public.usuarios_id_seq;
DROP TABLE IF EXISTS public.usuarios;
DROP SEQUENCE IF EXISTS public.seq_ficha_biopet;
DROP SEQUENCE IF EXISTS public.mascotas_id_seq;
DROP TABLE IF EXISTS public.mascotas;
DROP TABLE IF EXISTS public.flyway_schema_history;
DROP SEQUENCE IF EXISTS public.consultas_id_seq;
DROP TABLE IF EXISTS public.consultas;
DROP SEQUENCE IF EXISTS public.citas_id_seq;
DROP TABLE IF EXISTS public.citas;
DROP PROCEDURE IF EXISTS public.sp_registrar_consulta_validada(IN p_mascota_id bigint, IN p_veterinario_id bigint, IN p_motivo character varying, IN p_diagnostico character varying, IN p_tratamiento character varying, IN p_observaciones character varying, OUT p_consulta_id bigint);
DROP PROCEDURE IF EXISTS public.sp_actualizar_estado_citas_masivas(IN p_veterinario_id bigint, IN p_estado_anterior character varying, IN p_estado_nuevo character varying, IN p_fecha_limite timestamp with time zone, OUT p_afectadas bigint);
DROP FUNCTION IF EXISTS public.set_actualizado_en();
DROP FUNCTION IF EXISTS public.fn_siguiente_numero_ficha(p_prefijo character varying, OUT p_codigo character varying);
DROP FUNCTION IF EXISTS public.fn_resumen_mascotas_por_especie(p_duenio_id bigint);
DROP FUNCTION IF EXISTS public.fn_reporte_dashboard(p_desde date, p_hasta date);
DROP FUNCTION IF EXISTS public.fn_historial_clinico_mascota(p_mascota_id bigint);
--
-- Name: fn_historial_clinico_mascota(bigint); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_historial_clinico_mascota(p_mascota_id bigint) RETURNS TABLE(mascota character varying, especie character varying, raza character varying, duenio character varying, nconsultas bigint, ultimaconsulta timestamp with time zone, ultimavacuna character varying, proximavacuna date, ncitas bigint)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT m.nombre AS mascota,
           m.especie,
           m.raza,
           u.nombre AS duenio,
           COALESCE(cstats.n_consultas, 0) AS nConsultas,
           cstats.ultima_consulta AS ultimaConsulta,
           vstats.ultima_vacuna AS ultimaVacuna,
           vstats.proxima_vacuna AS proximaVacuna,
           COALESCE(cistats.n_citas, 0) AS nCitas
    FROM mascotas m
    JOIN usuarios u ON u.id = m.duenio_id
    LEFT JOIN (
        SELECT c.mascota_id,
               COUNT(*)::BIGINT AS n_consultas,
               MAX(c.fecha_consulta) AS ultima_consulta
        FROM consultas c
        WHERE c.activo = TRUE
        GROUP BY c.mascota_id
    ) cstats ON cstats.mascota_id = m.id
    LEFT JOIN (
        SELECT v.mascota_id,
               (ARRAY_AGG(v.tipo ORDER BY v.fecha_aplicacion DESC))[1] AS ultima_vacuna,
               MIN(v.proxima_fecha) AS proxima_vacuna
        FROM vacunas v
        WHERE v.activo = TRUE
        GROUP BY v.mascota_id
    ) vstats ON vstats.mascota_id = m.id
    LEFT JOIN (
        SELECT ci.mascota_id,
               COUNT(*)::BIGINT AS n_citas
        FROM citas ci
        WHERE ci.activo = TRUE
        GROUP BY ci.mascota_id
    ) cistats ON cistats.mascota_id = m.id
    WHERE m.id = p_mascota_id
      AND m.activo = TRUE;
END;
$$;


--
-- Name: fn_reporte_dashboard(date, date); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_reporte_dashboard(p_desde date, p_hasta date) RETURNS TABLE(mascotasactivas bigint, citasprogramadas bigint, consultasenrango bigint, vacunasenrango bigint, mascotassinconsulta bigint)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        (SELECT COUNT(*)::BIGINT FROM mascotas m WHERE m.activo = TRUE) AS mascotasActivas,
        (SELECT COUNT(*)::BIGINT FROM citas ci
         WHERE ci.activo = TRUE AND ci.estado = 'PROGRAMADA') AS citasProgramadas,
        (SELECT COUNT(*)::BIGINT FROM consultas c
         WHERE c.activo = TRUE
           AND c.fecha_consulta >= p_desde
           AND c.fecha_consulta < (p_hasta + INTERVAL '1 day')) AS consultasEnRango,
        (SELECT COUNT(*)::BIGINT FROM vacunas v
         WHERE v.activo = TRUE
           AND v.fecha_aplicacion >= p_desde
           AND v.fecha_aplicacion <= p_hasta) AS vacunasEnRango,
        (SELECT COUNT(*)::BIGINT FROM mascotas m
         WHERE m.activo = TRUE
           AND NOT EXISTS (
               SELECT 1 FROM consultas c
               WHERE c.mascota_id = m.id AND c.activo = TRUE
           )) AS mascotasSinConsulta;
END;
$$;


--
-- Name: fn_resumen_mascotas_por_especie(bigint); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_resumen_mascotas_por_especie(p_duenio_id bigint DEFAULT NULL::bigint) RETURNS TABLE(especie character varying, total bigint)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT m.especie, COUNT(*)::BIGINT AS total
    FROM mascotas m
    WHERE m.activo = TRUE
      AND (p_duenio_id IS NULL OR m.duenio_id = p_duenio_id)
    GROUP BY m.especie
    ORDER BY total DESC;
END;
$$;


--
-- Name: fn_siguiente_numero_ficha(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_siguiente_numero_ficha(p_prefijo character varying DEFAULT 'FICHA'::character varying, OUT p_codigo character varying) RETURNS character varying
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_prefijo VARCHAR;
    v_siguiente BIGINT;
BEGIN
    v_prefijo := UPPER(TRIM(p_prefijo));
    IF v_prefijo IS NULL OR v_prefijo = '' THEN
        v_prefijo := 'FICHA';
    END IF;

    SELECT nextval('seq_ficha_biopet') INTO v_siguiente;

    p_codigo := v_prefijo || '-' || LPAD(v_siguiente::TEXT, 6, '0');
END;
$$;


--
-- Name: set_actualizado_en(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_actualizado_en() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.actualizado_en = NOW();
    RETURN NEW;
END;
$$;


--
-- Name: sp_actualizar_estado_citas_masivas(bigint, character varying, character varying, timestamp with time zone); Type: PROCEDURE; Schema: public; Owner: -
--

CREATE PROCEDURE public.sp_actualizar_estado_citas_masivas(IN p_veterinario_id bigint, IN p_estado_anterior character varying, IN p_estado_nuevo character varying, IN p_fecha_limite timestamp with time zone, OUT p_afectadas bigint)
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF p_estado_anterior NOT IN ('PROGRAMADA','CANCELADA','COMPLETADA') THEN
        RAISE EXCEPTION 'Estado anterior invalido: % (permitidos: PROGRAMADA, CANCELADA, COMPLETADA)', p_estado_anterior;
    END IF;
    IF p_estado_nuevo NOT IN ('PROGRAMADA','CANCELADA','COMPLETADA') THEN
        RAISE EXCEPTION 'Estado nuevo invalido: % (permitidos: PROGRAMADA, CANCELADA, COMPLETADA)', p_estado_nuevo;
    END IF;
    IF p_fecha_limite IS NULL THEN
        RAISE EXCEPTION 'p_fecha_limite no puede ser NULL';
    END IF;

    WITH actualizadas AS (
        UPDATE citas
        SET estado = p_estado_nuevo
        WHERE veterinario_id = p_veterinario_id
          AND estado = p_estado_anterior
          AND fecha_hora <= p_fecha_limite
          AND activo = TRUE
        RETURNING id
    )
    SELECT COUNT(*) INTO p_afectadas
    FROM actualizadas;
END;
$$;


--
-- Name: sp_registrar_consulta_validada(bigint, bigint, character varying, character varying, character varying, character varying); Type: PROCEDURE; Schema: public; Owner: -
--

CREATE PROCEDURE public.sp_registrar_consulta_validada(IN p_mascota_id bigint, IN p_veterinario_id bigint, IN p_motivo character varying, IN p_diagnostico character varying, IN p_tratamiento character varying, IN p_observaciones character varying, OUT p_consulta_id bigint)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_mascota_activa BOOLEAN;
    v_rol VARCHAR(30);
BEGIN
    IF p_motivo IS NULL OR TRIM(p_motivo) = '' THEN
        RAISE EXCEPTION 'El motivo de la consulta no puede estar vacio';
    END IF;

    SELECT m.activo INTO v_mascota_activa
    FROM mascotas m
    WHERE m.id = p_mascota_id;

    IF v_mascota_activa IS NULL THEN
        RAISE EXCEPTION 'La mascota % no existe', p_mascota_id;
    END IF;
    IF NOT v_mascota_activa THEN
        RAISE EXCEPTION 'La mascota % esta inactiva y no puede recibir consultas', p_mascota_id;
    END IF;

    SELECT u.rol INTO v_rol
    FROM usuarios u
    WHERE u.id = p_veterinario_id AND u.activo = TRUE;

    IF v_rol IS NULL THEN
        RAISE EXCEPTION 'El veterinario % no existe o esta inactivo', p_veterinario_id;
    END IF;
    IF v_rol NOT IN ('ROLE_VETERINARIO', 'ROLE_ADMIN') THEN
        RAISE EXCEPTION 'El usuario % (rol %) no esta autorizado para registrar consultas', p_veterinario_id, v_rol;
    END IF;

    INSERT INTO consultas (
        mascota_id, veterinario_id, fecha_consulta, motivo,
        diagnostico, tratamiento, observaciones
    )
    VALUES (
        p_mascota_id, p_veterinario_id, NOW(), p_motivo,
        p_diagnostico, p_tratamiento, p_observaciones
    )
    RETURNING id INTO p_consulta_id;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: citas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.citas (
    id bigint NOT NULL,
    mascota_id bigint NOT NULL,
    veterinario_id bigint NOT NULL,
    fecha_hora timestamp with time zone NOT NULL,
    estado character varying(20) DEFAULT 'PROGRAMADA'::character varying NOT NULL,
    motivo character varying(255),
    activo boolean DEFAULT true NOT NULL,
    creado_en timestamp with time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_citas_estado CHECK (((estado)::text = ANY ((ARRAY['PROGRAMADA'::character varying, 'CANCELADA'::character varying, 'COMPLETADA'::character varying])::text[])))
);


--
-- Name: citas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.citas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: citas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.citas_id_seq OWNED BY public.citas.id;


--
-- Name: consultas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.consultas (
    id bigint NOT NULL,
    mascota_id bigint NOT NULL,
    veterinario_id bigint NOT NULL,
    fecha_consulta timestamp with time zone NOT NULL,
    motivo character varying(200) NOT NULL,
    diagnostico character varying(500),
    tratamiento character varying(500),
    observaciones character varying(500),
    activo boolean DEFAULT true NOT NULL,
    creado_en timestamp with time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: consultas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.consultas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: consultas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.consultas_id_seq OWNED BY public.consultas.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


--
-- Name: mascotas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mascotas (
    id bigint NOT NULL,
    duenio_id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    especie character varying(30) NOT NULL,
    raza character varying(50) NOT NULL,
    fecha_nacimiento date NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    creado_en timestamp with time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: mascotas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mascotas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mascotas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mascotas_id_seq OWNED BY public.mascotas.id;


--
-- Name: seq_ficha_biopet; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.seq_ficha_biopet
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(30) DEFAULT 'ROLE_DUENO'::character varying NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    creado_en timestamp with time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_usuarios_rol CHECK (((rol)::text = ANY ((ARRAY['ROLE_ADMIN'::character varying, 'ROLE_VETERINARIO'::character varying, 'ROLE_DUENO'::character varying, 'ROLE_AUXILIAR'::character varying])::text[])))
);


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vacunas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.vacunas (
    id bigint NOT NULL,
    mascota_id bigint NOT NULL,
    veterinario_id bigint,
    tipo character varying(60) NOT NULL,
    fecha_aplicacion date NOT NULL,
    proxima_fecha date,
    observaciones character varying(255),
    activo boolean DEFAULT true NOT NULL,
    creado_en timestamp with time zone DEFAULT now() NOT NULL,
    actualizado_en timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: vacunas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.vacunas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: vacunas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.vacunas_id_seq OWNED BY public.vacunas.id;


--
-- Name: citas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citas ALTER COLUMN id SET DEFAULT nextval('public.citas_id_seq'::regclass);


--
-- Name: consultas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.consultas ALTER COLUMN id SET DEFAULT nextval('public.consultas_id_seq'::regclass);


--
-- Name: mascotas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mascotas ALTER COLUMN id SET DEFAULT nextval('public.mascotas_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: vacunas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vacunas ALTER COLUMN id SET DEFAULT nextval('public.vacunas_id_seq'::regclass);


--
-- Data for Name: citas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.citas (id, mascota_id, veterinario_id, fecha_hora, estado, motivo, activo, creado_en, actualizado_en) FROM stdin;
\.


--
-- Data for Name: consultas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.consultas (id, mascota_id, veterinario_id, fecha_consulta, motivo, diagnostico, tratamiento, observaciones, activo, creado_en, actualizado_en) FROM stdin;
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: mascotas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.mascotas (id, duenio_id, nombre, especie, raza, fecha_nacimiento, activo, creado_en, actualizado_en) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuarios (id, nombre, email, password_hash, rol, activo, creado_en, actualizado_en) FROM stdin;
1	Administrador BIOPET	admin@biopet.ec	$2b$12$D5THApMOkV5H4fR8W8B6HOOBmodkTnnBUjLCmB6XzpR8zYDsNDYpG	ROLE_ADMIN	t	2026-08-17 05:52:07.803714+00	2026-08-17 05:52:07.803714+00
\.


--
-- Data for Name: vacunas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.vacunas (id, mascota_id, veterinario_id, tipo, fecha_aplicacion, proxima_fecha, observaciones, activo, creado_en, actualizado_en) FROM stdin;
\.


--
-- Name: citas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.citas_id_seq', 1, false);


--
-- Name: consultas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.consultas_id_seq', 1, false);


--
-- Name: mascotas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mascotas_id_seq', 1, false);


--
-- Name: seq_ficha_biopet; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.seq_ficha_biopet', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: vacunas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.vacunas_id_seq', 1, false);


--
-- Name: citas citas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_pkey PRIMARY KEY (id);


--
-- Name: consultas consultas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: mascotas mascotas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mascotas
    ADD CONSTRAINT mascotas_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: vacunas vacunas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vacunas
    ADD CONSTRAINT vacunas_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_citas_activo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citas_activo ON public.citas USING btree (activo);


--
-- Name: idx_citas_mascota; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citas_mascota ON public.citas USING btree (mascota_id);


--
-- Name: idx_citas_veterinario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citas_veterinario ON public.citas USING btree (veterinario_id);


--
-- Name: idx_consultas_mascota; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_consultas_mascota ON public.consultas USING btree (mascota_id);


--
-- Name: idx_consultas_veterinario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_consultas_veterinario ON public.consultas USING btree (veterinario_id);


--
-- Name: idx_mascotas_activo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mascotas_activo ON public.mascotas USING btree (activo);


--
-- Name: idx_mascotas_duenio; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mascotas_duenio ON public.mascotas USING btree (duenio_id);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: idx_vacunas_activo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vacunas_activo ON public.vacunas USING btree (activo);


--
-- Name: idx_vacunas_mascota; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vacunas_mascota ON public.vacunas USING btree (mascota_id);


--
-- Name: idx_vacunas_veterinario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vacunas_veterinario ON public.vacunas USING btree (veterinario_id);


--
-- Name: citas trg_citas_actualizado_en; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_citas_actualizado_en BEFORE UPDATE ON public.citas FOR EACH ROW EXECUTE FUNCTION public.set_actualizado_en();


--
-- Name: mascotas trg_mascotas_actualizado_en; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_mascotas_actualizado_en BEFORE UPDATE ON public.mascotas FOR EACH ROW EXECUTE FUNCTION public.set_actualizado_en();


--
-- Name: usuarios trg_usuarios_actualizado_en; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_usuarios_actualizado_en BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.set_actualizado_en();


--
-- Name: vacunas trg_vacunas_actualizado_en; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_vacunas_actualizado_en BEFORE UPDATE ON public.vacunas FOR EACH ROW EXECUTE FUNCTION public.set_actualizado_en();


--
-- Name: citas fk_citas_mascota; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT fk_citas_mascota FOREIGN KEY (mascota_id) REFERENCES public.mascotas(id);


--
-- Name: citas fk_citas_veterinario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT fk_citas_veterinario FOREIGN KEY (veterinario_id) REFERENCES public.usuarios(id);


--
-- Name: consultas fk_consultas_mascota; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT fk_consultas_mascota FOREIGN KEY (mascota_id) REFERENCES public.mascotas(id);


--
-- Name: consultas fk_consultas_veterinario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT fk_consultas_veterinario FOREIGN KEY (veterinario_id) REFERENCES public.usuarios(id);


--
-- Name: mascotas fk_mascotas_duenio; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mascotas
    ADD CONSTRAINT fk_mascotas_duenio FOREIGN KEY (duenio_id) REFERENCES public.usuarios(id);


--
-- Name: vacunas fk_vacunas_mascota; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vacunas
    ADD CONSTRAINT fk_vacunas_mascota FOREIGN KEY (mascota_id) REFERENCES public.mascotas(id);


--
-- Name: vacunas fk_vacunas_veterinario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vacunas
    ADD CONSTRAINT fk_vacunas_veterinario FOREIGN KEY (veterinario_id) REFERENCES public.usuarios(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: -
--

GRANT USAGE ON SCHEMA public TO biopet_app;


--
-- Name: FUNCTION fn_historial_clinico_mascota(p_mascota_id bigint); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON FUNCTION public.fn_historial_clinico_mascota(p_mascota_id bigint) TO biopet_app;


--
-- Name: FUNCTION fn_reporte_dashboard(p_desde date, p_hasta date); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON FUNCTION public.fn_reporte_dashboard(p_desde date, p_hasta date) TO biopet_app;


--
-- Name: FUNCTION fn_resumen_mascotas_por_especie(p_duenio_id bigint); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON FUNCTION public.fn_resumen_mascotas_por_especie(p_duenio_id bigint) TO biopet_app;


--
-- Name: FUNCTION fn_siguiente_numero_ficha(p_prefijo character varying, OUT p_codigo character varying); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON FUNCTION public.fn_siguiente_numero_ficha(p_prefijo character varying, OUT p_codigo character varying) TO biopet_app;


--
-- Name: FUNCTION set_actualizado_en(); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON FUNCTION public.set_actualizado_en() TO biopet_app;


--
-- Name: PROCEDURE sp_actualizar_estado_citas_masivas(IN p_veterinario_id bigint, IN p_estado_anterior character varying, IN p_estado_nuevo character varying, IN p_fecha_limite timestamp with time zone, OUT p_afectadas bigint); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON PROCEDURE public.sp_actualizar_estado_citas_masivas(IN p_veterinario_id bigint, IN p_estado_anterior character varying, IN p_estado_nuevo character varying, IN p_fecha_limite timestamp with time zone, OUT p_afectadas bigint) TO biopet_app;


--
-- Name: PROCEDURE sp_registrar_consulta_validada(IN p_mascota_id bigint, IN p_veterinario_id bigint, IN p_motivo character varying, IN p_diagnostico character varying, IN p_tratamiento character varying, IN p_observaciones character varying, OUT p_consulta_id bigint); Type: ACL; Schema: public; Owner: -
--

GRANT ALL ON PROCEDURE public.sp_registrar_consulta_validada(IN p_mascota_id bigint, IN p_veterinario_id bigint, IN p_motivo character varying, IN p_diagnostico character varying, IN p_tratamiento character varying, IN p_observaciones character varying, OUT p_consulta_id bigint) TO biopet_app;


--
-- Name: TABLE citas; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.citas TO biopet_app;


--
-- Name: SEQUENCE citas_id_seq; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.citas_id_seq TO biopet_app;


--
-- Name: TABLE consultas; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.consultas TO biopet_app;


--
-- Name: SEQUENCE consultas_id_seq; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.consultas_id_seq TO biopet_app;


--
-- Name: TABLE flyway_schema_history; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.flyway_schema_history TO biopet_app;


--
-- Name: TABLE mascotas; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.mascotas TO biopet_app;


--
-- Name: SEQUENCE mascotas_id_seq; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.mascotas_id_seq TO biopet_app;


--
-- Name: SEQUENCE seq_ficha_biopet; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.seq_ficha_biopet TO biopet_app;


--
-- Name: TABLE usuarios; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.usuarios TO biopet_app;


--
-- Name: SEQUENCE usuarios_id_seq; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.usuarios_id_seq TO biopet_app;


--
-- Name: TABLE vacunas; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.vacunas TO biopet_app;


--
-- Name: SEQUENCE vacunas_id_seq; Type: ACL; Schema: public; Owner: -
--

GRANT SELECT,USAGE ON SEQUENCE public.vacunas_id_seq TO biopet_app;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: -
--

ALTER DEFAULT PRIVILEGES FOR ROLE biopet_user IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO biopet_app;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: -
--

ALTER DEFAULT PRIVILEGES FOR ROLE biopet_user IN SCHEMA public GRANT ALL ON FUNCTIONS TO biopet_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: -
--

ALTER DEFAULT PRIVILEGES FOR ROLE biopet_user IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO biopet_app;


--
-- PostgreSQL database dump complete
--

\unrestrict wIXKvTZ9d8TBckNzHk5AbhyiP9gWCkrhESM7SvkL3d4iZ31fMDigBrjg1qrhfkW

